@charset "utf-24";
*{
    margin:0;
    padding:0;
}

div#entrance{
    position:relative;
    width:100%;
    height:100%;
    /* border:black solid; */
}
img.entrance{
 /*    display:inline-block; */
    width: 100%;
    height: 90%;
}
/* for PC or Wide screen */
@media screen and (min-width:960px) and ( max-width:1280px) {
div#registrant{
    
    position:absolute;
    top:0;
    height:64px;
    width:100%;
    background-color: white;
  
}

div#registrant form input{
    height:50%;
    width:240px;
    margin-top:16px;
    margin-left:16px;
    float:left;
}
div#registrant form input[type="image"]{
    width:200px;
}

div.clear{
    clear:both;
}

div#entrance p.text{
    
    position:absolute;
    
    top:120px;
    width: 64%;
    height:50%;
    color:white;
    font-size:32px;
    font-family:Meiryo UI;
    font-weight: bold;
    line-height:52px;
    margin-top:4%;
    margin-left:22%;
 

} 
}
/* for Smart phone(wide) or Tablet */
@media screen and  (min-width:481px) and (max-width:959px){
    img.entrance{
     position:absolute;
     top:20%;   
    }
    div#registrant{
    
        position:absolute;
        top:0;
        height:10%;
        width:100%;
        background-color: white;
      
    }
   

}
/* smart phone(height) */
@media screen and (max-width:480px){
    img.entrance{
        position:absolute;
        top:20%;   
       }
       div#registrant{
       
           position:absolute;
           top:0;
           height:30%;
           width:100%;
           background-color: white;
         
       }
   
}

@media screen and (max-width:959px){
 
div#registrant form input{
    height:32px;
    width:240px;
    margin-top:30.5px;
    margin-left:16px;
    float:left;
}
div#registrant form input[type="image"]{
    width:138px;
    float:none;
}

div.clear{
    clear:both;
}

div#entrance p.text{
    
    position:absolute;
    
    top:32%;
    width: 64%;
    height:50%;
    color:white;
    font-size:28px;
    font-family:Meiryo UI;
    font-weight: bold;
    line-height:32px;
    margin-top:4%;
    margin-left:22%;

} 
}