@charset "utf-8";
div.ph_style2 img{
    width:100%;
    height:100%;
}
@media screen and (min-width:960px) and ( max-width:1280px) {
    div.ph_style2 {
        border:red solid;
       position: relative;
       width: 100%;
   } 
       div.ph_style2 table#interface{
        position: absolute;    
        /*  opacity: 0.85; */   /*透明度*/
         /* background-color: rgba(29, 33, 100, 0.5);  */
         background-color: rgba(12, 15, 71, 0.5); 
         top: 15%;
         left: 20%;
         margin-left:auto;
         margin-right:auto;
          /*検索フォームを中央配置にする場合 */
        /*  transform: translateX(-50%);
         -webkit-transform: translateX(-50%);
         -ms-transform: translateX(-50%); */
        
         width:65%;
       }
       div table#interface tr{ border: solid 1px #aaa;}
          div table#interface td{
           color: white;/*文字色*/
           font-size:18px;
           font-weight: bold;
           line-height:2.0;
           text-align:left;
           padding:5px 12px; line-height:28px;
          
           }
   
               div.ph_style2 table#interface td span{
                   position: absolute;
                   left:190px;
                   width:20px;
                   padding:5px;
                   
               }
   
}

div.ph_style2 {
    border:red solid;
   position: relative;
   width: 100%;
} 
   div.ph_style2 table#interface{
    position: absolute;    
    /*  opacity: 0.85; */   /*透明度*/
     /* background-color: rgba(29, 33, 100, 0.5);  */
     background-color: rgba(12, 15, 71, 0.5); 
     top: 15%;
     left: 20%;
     margin-left:auto;
     margin-right:auto;
      /*検索フォームを中央配置にする場合 */
    /*  transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%); */
    
     width:65%;
   }
   div table#interface tr{ border: solid 1px #aaa;}
      div table#interface td{
       color: white;/*文字色*/
       font-size:18px;
       font-weight: bold;
       line-height:2.0;
       text-align:left;
       padding:5px 12px; line-height:28px;
      
       }

           div.ph_style2 table#interface td span{
               position: absolute;
               left:190px;
               width:20px;
               padding:5px;
               
           }

div.back-ground{
    background-color:rgba(239, 242, 248, 0.932);
   /* background-color:white; */
}
         
span input{
    width: 250px;
    height:2em; 
}
span select { width: 250px;
height:2em; 
}

.table_col{      
        
    font-weight: bold;
    font-family: 'Meiryo UI';
    
}

.btn{
    height:30px;
    width:70px;
    padding:3px;
    margin:3px;

    border: none;

    font-size:16px;
    font-weight: bold;
    font-family: 'Meiryo UI';
    color:black;
    background-color:white;
}

.cbox_chart{

    margin-left:480px;
}

table#u_comps{
    
    background-color:white;
    border:1px solid black;
}
table#u_comps tr td{border:1px solid black;
    padding:5px 12px; line-height:20px;}

table#u_comps a{
        text-decoration: none;
      }
table#u_comps a:hover {
        /* ▼マウスが載ったときの装飾 */
        background-color: #f1e7ef;              /* ←文字色 */
        text-decoration: underline; /* ←下線あり */
     }


table{
   
     border-collapse: collapse; 
    
  }

thead {background-color:#82246f; color:white; padding:5px 10px; }
thead th{border:solid 1px}

/* table#interface tr{border: solid 1px #aaa; color:#191970; padding:5px 12px; line-height:28px; } */


table#results span.header_1{
    color: #82246f;
    font-weight: bold;
    font-family: 'Meiryo UI';
    
}
table#results span.header_2{
    font-family: 'Meiryo UI';
   /*  font-weight: bold; */
    color:white;
}


table#results td.header_2{
    background-color : #82246f;
    font-family: 'Meiryo UI';
  /*   font-weight: bold; */
    
}
table#results td.header_3{
    background-color:rgba(239, 242, 248, 0.932);
}

table#results{
    /* テーブルの外枠線 */
    border-top:1px solid black;
    border-bottom:1px black solid;
    background-color:white;
   
}


/* table#results tdのデフォルト設定 */
table#results td {  padding:5px 12px; line-height:24px; border:0px none;}

table#results tr.results td.set-underb{
  
    border-bottom:1px black solid;
   
 }


 table#results tr.results td.border{
  
    border:1px solid;
   }  
  

/* label#cbox_comp span{font-size:"2"; white-space : nowrap;} */
p.title{
    font-weight: bold;
    font-family: 'Meiryo UI';
}
